@charset "utf-8";
header{margin: 0px 0px 15px 0px; background-color: #957bbe; height: 50px; padding: 5px;}
.ab{background: #80bdff; color: black; box-shadow:0 3px 0 #006000; margin: 10px;}
.headcontainer{ margin: 0px 0px 0px 420px;}
#comprar{margin: 10px 0px 0px 0px;}
main{background-color: #ebe9e8; padding: 10px; margin: 50px 150px 0px 100px; text-align: center; }
#comprar{margin: 10px 0px 0px 150px; width: 105px;}
a{color: black;}
button{margin: 20px; width: 150px;}
div{margin: 15px;}
.botal{padding: 0; margin: 10px 0px 10px 325px;}
#comprar{margin: 10px 0px 10px 60px;}





